/* Add basic styles */
/* Set the typography */
@font-face {
  font-family: "Kumbn Sans";
  src: url("../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf");
  font-weight: 400;
  font-style: normal;
}
:root{
  font-size: 12px;
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
}
/* Define general classes */
.display-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
*, *::before, *::after{
  border: 1px solid;
  box-sizing: border-box;
}
/* set body styles */
body{
  font-family: 'Kumbn Sans', sans-serif;
  font-size: 1rem;
}
/* Set the container styles */
.container {
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 0 30px;
  background: linear-gradient(180deg, var(--soft-violet, hsl(0, 0%, 100%)), var(--soft-blue, hsl(0, 0%, 100%)));
}
/* Set the main container styles */
.main-container{
  flex-direction: column;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  margin-top: 150px;
  padding: 0 25px;
}
.intro-img{
  margin-top: -110px;
  height: 220px;
}
.intro-img img:nth-child(2){
  display: inline-block;
  transform: translateY(-70%);
}
.questions-list{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.questions-list li label.question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  cursor: pointer;
}
/* set list styles */
input, ul li p{
  display: none;
}
.questions-list > li > input:checked ~ p{
  display: block;
  color: ;
}
