/* Add basic styles */
/* Set the typography */
@font-face {
  font-family: "Kumbn Sans";
  src: url("../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf");
  font-weight: 400;
  font-style: normal;
}
:root{
  font-size: 12px;
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
}
*, *::before, *::after{
  border: 1px solid;
  box-sizing: border-box;
}
/* set body styles */
body{
  font-family: 'Kumbn Sans', sans-serif;
  font-size: 1rem;
}
/* Set the container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 30px;
  background: linear-gradient(180deg, var(--soft-violet, hsl(0, 0%, 100%)), var(--soft-blue, hsl(0, 0%, 100%)));
}

/* set list styles */
label{
  display: inline-block;
  padding: 20px 0;
  cursor: pointer;
}
input, ul li p{
  display: none;
}
.questions-list > li > input:checked ~ p{
  display: block;
  color: red;
}